#about {

  .about-img_container {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -1.5rem;
      left: -1.7rem;
      width: 100%;
      height: 100%;
      background: rgba(255, 192, 203, .2);
      outline: .5rem solid #331600;
      z-index: -1;
      transition: all .5s linear;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -ms-transition: all .5s linear;
      -o-transition: all .5s linear;
}

    &:hover:before {
      top: 0;
      left: 0;
    }
  }
} 