#cakes {

  .banner-title {
  
    // Ghosted desert image behind text (may be adjusted in section specific scss pages due to different image/text sizes 
    img {
      top: -60%;
      left: -60%;
      opacity: .8;
    }
  }

  .restrict {
    max-height: 279px;
  }
}