.cart {
  position: absolute;
  min-height: 10rem;
  background: rgba(238, 134, 134, 0.85);
  top: 0;
  right: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  width: 0;
  overflow: hidden;
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);

  &-item-remove {
    color: $clr-white;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;

    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      color: $clr-gold;
    }
  }

  &-item {
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;

    & span {
      color: $clr-white;
      font-weight: 600;
    }

    &-price {
      font-size: .8rem;
    }

    &-title {
      min-width: 163px;
    }
  }

  &-total-container {

    h5 {
      color: $clr-white;
    }
  }

  &-buttons-container {

    .btn-black {
      border-width: .1rem;

      &:hover {
        background: $clr-white;
        color: $clr-brown;
      }
    }
    
    .btn-pink {
      border: .1rem solid $clr-brown;
      color: $clr-white;

      &:hover {
        border-color: $clr-brown;
        background: $clr-white;
        color: $clr-brown;
      }
    }
  }
}

.show-cart {
  width: 18.5rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
  -webkit-transform: rotateY(-360deg);
  -moz-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  -o-transform: rotateY(-360deg);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  z-index: 3;
}