footer {

  .footer {

    &-title {
      color: $clr-brown;
  
      background: {
        color: $clr-white;
      }
    }
  
    &-contact {
      position: relative;
      overflow: hidden;
      color: $clr-white; 
      background: {
        color: #1C0C00;
      }
  
      h3 {
        color: $clr-white;
      }
  
      .footer-img {
        position: absolute;
      }

      .muffin {
        bottom: 0%;
        right: 0%;
        z-index: 2;
      }
      .cookie {
        bottom: 0;
        right: 10%;
        z-index: 1;
      }
      .shortcake {
        bottom: 0;
        right: 20%;
        z-index: 0;
      }
    }
  }

  .copy {
    background: $clr-pink-lite;
    padding: .5rem 0;
    margin: 0;
    text-align: center;
    color: $clr-brown;
    font: {
      weight: 600;
      size: 20px;
    }
  }
}