footer {

  .footer {

    &-title {
      color: #1C0C00;
  
      background: {
        color: #fff;
      }
    }
  
    &-contact {
      position: relative;
      overflow: hidden;
      color: #fff; 
      background: {
        color: #1C0C00;
      }
  
      h3 {
        color: #fff;
      }
  
      #footer-img {
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 15rem;
      }
    }
  }

  .copy {
    background: pink;
    padding: .5rem 0;
    margin: 0;
    text-align: center;
    color: #1C0C00;
    font: {
      weight: 600;
      size: 20px;
    }
  }
}