
html {
  min-width: 300px;
}

body {
  background: $clr-offwhite;
  font-family: Arial, Helvetica, sans-serif;
}

.banner {

  &-start {
    color: $clr-brown;
    font-family: 'Volkhov', serif;
  }

  &-title {
    color: $clr-pink-dark;
    position: relative;
    font-size: 3rem;
    font-family: 'Oleo Script', cursive;

    // Ghosted desert image behind text (may be adjusted in section specific scss pages due to different image sizes 
  img {
    width: 110px;
    position: absolute;
    top: -40%;
    left: -80%;
    z-index: -1;
    opacity: .9;
  }
}

}

.btn-pink {
  color: $clr-pink-dark;
  border-color: $clr-pink-dark;
  background: transparent;
  font-weight: 600;

  &:hover {
    color: $clr-white;
    background: $clr-pink-dark;
  }
}

.btn-black {
  color: $clr-brown;
  border-color: $clr-brown;
  font-weight: 600;

  &:hover {
    color: $clr-brown;
    background: $clr-pink-lite;
  }
}