header {
  nav {
    background: {
      color: $clr-brown;
    }

     img {
      max-width: 50px;
    }
    // Navbar bars
    .navbar-toggler {
      outline: none;
      
      .navbar-toggler-icon {
        font-size: 2.5rem;
      }
    }
    .nav-link {
      color: $clr-white;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      font-size: 1.5rem;

      &:hover {
        color: $clr-pink-lite;
      }
    }

    .fa-bars {
      color: $clr-pink-lite;
    }

    #myNavBar {
      color: $clr-white;
    }

    .cart-info__icon {
      cursor: pointer;
    }
    .cart-info {
      border: .1rem solid $clr-white;
      border-radius: 2.5rem;
      -webkit-border-radius: 2.5rem;
      -moz-border-radius: 2.5rem;
      -ms-border-radius: 2.5rem;
      -o-border-radius: .25rem;
      padding: .4rem .9rem;
      cursor: pointer;

      &:hover {
        background: $clr-pink-lite;
        border-color: $clr-white;
        color: $clr-brown;
      }
    } 
  }
  
  .max-height {
    position: relative;
    min-height: calc(100vh - 76px);
    background: {
      image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.6)), url('../../img/bg/bg7.jpg');
      position: center;
      size: cover;
      attachment: fixed; 
      repeat: no-repeat;
    }
    .banner {
      color: $clr-white;
      margin: {
        top: -4rem;
      }

      &-title {
        color: $clr-pink-lite;
        font-size: 4rem;
      }

      &-link {
        font-size: 1.5rem;
        color: $clr-white;
        border: .2rem solid $clr-white;

        &:hover {
          background: $clr-pink-lite;
          border-color: $clr-white;
          color: $clr-brown;
        }
      }
    }
  }

  #item-img {
    padding-right: 5px;
  }
}



